@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .layout-padding {
        @apply pb-20 sm:pb-24 md:pb-32 lg:pb-0;
    }

    /* .layout-margin {
        @apply mb-20 sm:mb-24 md:mb-32 lg:mb-0;
    } */

    .layout-height {
        @apply h-[calc(100dvh-200px)]
               sm:h-[calc(100dvh-216px)]
               md:h-[calc(100dvh-248px)]
               lg:h-[calc(100dvh-218px)];
    }

    .border-top {
        @apply border-t border-t-borderColor;
    }
    .border-right {
        @apply border-r border-r-borderColor;
    }
    .border-bottom {
        @apply border-b border-b-borderColor;
    }
    .border-left {
        @apply border-l border-l-borderColor;
    }
}

:root {
    direction: rtl;
}

body,
html {
    position: relative;
}

/* Persian Numeric Setup */
body,
input {
    -moz-font-feature-settings: 'ss02';
    -webkit-font-feature-settings: 'ss02';
    font-feature-settings: 'ss02';
}

li {
    list-style-type: none;
}

iframe {
    /* height: calc(100dvh - 218px); */
    height: 100dvh;
    direction: rtl !important;
}

/* width */
body::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: #e0e6ff;
}

/* Track */
body::-webkit-scrollbar-track {
    border-inline-end: 1px solid #000;
}
.sidebar::-webkit-scrollbar-track {
    border-inline-start: 1px solid #000;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    border-inline-end: 1px solid #000;
}
.sidebar::-webkit-scrollbar-thumb {
    border-inline-start: 1px solid #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
}

@media screen and (max-width: 768px) {
    body::-webkit-scrollbar,
    .sidebar::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: textfield !important;
        margin: 0;
    }
}

.Toastify__toast {
    margin-top: 0.625rem;
    margin-inline: 0.375rem;
    color: #000 !important;
    background-color: white;
    box-shadow: none !important;
    border: 1px solid #000;
    border-radius: 0 !important;
    font-weight: bold;
    font-size: 0.875rem;
}

@media screen and (max-width: 480px) {
    .Toastify__toast {
        font-size: 0.75rem;
    }
}
.workout-border-fix:last-child,
.workout-border-fix:nth-last-child(2) {
    border-bottom: none;
}
