@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-padding {
    @apply pb-20 sm:pb-24 md:pb-32 lg:pb-0;
  }
  .layout-margin {
    @apply mb-20 sm:mb-24 md:mb-32 lg:mb-0;
  }

  .layout-height {
    @apply h-[calc(100dvh-208px)]
    sm:h-[calc(100dvh-228px)]
    md:h-[calc(100dvh-268px)]
    lg:h-[calc(100dvh-222px)];
  }

  .border-top {
    @apply border-t border-t-borderColor;
  }
  .border-right {
    @apply border-r border-r-borderColor;
  }
  .border-bottom {
    @apply border-b border-b-borderColor;
  }
  .border-left {
    @apply border-l border-l-borderColor;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box !important;
}

body {
  direction: rtl;
}

body,
html {
  position: relative;
}

/* Persian Numeric Setup */
body,
input {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-inline: 1px solid #000;
  border-block: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e6ff;
  border-inline: 1px solid #000;
  margin: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
    margin: 0;
  }
}

.Toastify__toast {
  margin-top: 0.625rem;
  margin-inline: 0.375rem;
  color: #000 !important;
  background-color: white;
  box-shadow: none !important;
  border: 1px solid #000;
  border-radius: 0 !important;
  font-weight: bold;
  font-size: 0.875rem;
}

@media screen and (max-width: 480px) {
  .Toastify__toast {
    font-size: 0.75rem;
  }
}
